<!DOCTYPE html>
<html>
  <head>
    <title>GalantyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>




  </head>

  <body>
        <%= render 'layouts/navbar' %>
           <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <div class="container <%= controller_name %> <%=action_name %>">
    <%= yield %>
  </body>
</html>
